.main
  .headerright
    .headerright__logo1
      Okan
    .headerright__logo2
      Member：asuka aaa Omame
    .headerright__logo3
      Edit
  .contentsright
    .contentsright__name
      Omame
    .contentsright__date
      2019/11/24(Sun) 21:27:10
    .contentsright__message
      Penguin!
  .contentsbottom 
    .contentsbottom__text  
      <input placeholder="type a message" class="input-box__text" type="text" name="message[content]" id="message_content">
      <label class="input-box__image" for="message_image"><i class="fa fa-image"></i>
      <input class="input-box__image__file" type="file" name="message[image]" id="message_image">
      </label>
    .contentsbottom__label
      <input type="submit" name="commit" value="Send" class="submit-btn" data-disable-with="Send">