.headerleft
  .headerleft__logo
    Omame
  .headerleft__icon
    =link_to "#", class: "headerleft__btn" do
      = icon('fas', 'edit',  class: "headerleft__btn--icon1")
      %span<>
    =link_to "#", class: "headerleft__btn" do
      = icon('fas', 'cog',  class: "headerleft__btn--icon2")

.contentsleft
  .contentsleft__group
    BLUE
    .contentsleft__chat
      Penguin!
  -# .contentsleft__group
  -#   =link_to "#", class: "contentsleft__btn" do
  -#     BLUE
  -#   .contentsleft__chat
  -#     =link_to "#", class: "contentsleft__btn" do
  -#       まだメッセージがありません
  
      
