.side-bar {
  box-sizing: border-box;
  color: white;
  width: 300px;
  float: left;
  a  {text-decoration: none;}
  .header {
    width: 260px;
    background-color: #253141f8;
    height: 100px;
    line-height: 100px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    &__name {
      display: inline-block;
      font-weight: bold;
    }
    &__lists {
      display: inline-block;
      .list {
        display: inline-block;
      }
      .icon {
        color: white;
      }
    }
  }

  .groups {
    background-color: #2f3e51;
    height: calc(100vh - 100px);
    padding: 0 20px;
    overflow: scroll;
    .group {
      box-sizing: border-box;
      padding: 20px 0 40px;
      &__name {
        color: white;
        font-size: 15px;
      }
      &__message {
        color: white;
        font-size: 10px;
        margin-top: 5px;
      }
    }
  }
}

.chat {
  width: calc(100% - 300px);
  float: right;
  .header {
    box-sizing: border-box;
    height: 100px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    .left-header {
      &__title {
        color: #333;
        font-size: 20px;
        margin-top: 35px;
      }
      &__members {
        color: #999999;
        font-size: 12px;
        margin-top: 15px;
        .member {
          display: inline-block;
          padding-right: 5px;
        }
      }
    }
    .right-header {
      border: 1px solid #38aef0;
      float: right;
      height: 40px;
      line-height: 40px;
      margin-top: 28px;
      padding: 0 20px;
      a  {text-decoration: none;
          color: #38aef0;}
      &__button {
        color: #38aef0;
      }
    }
  }

  .contentsright {
    overflow: scroll;
    height: calc(100vh - 190px);
    background-color: #FAFAFA;
    padding: 0 40px;
    .message {
      background-color: #FAFAFA;
      box-sizing: border-box;
      padding: 46px 0 0 0;
      .upper-message {
        display: flex;
        &__user-name {
          color: #434a54;
          font-size: 16px;
          font-weight: bold;
        }
        &__date {
          color: #999999;
          font-size: 12px;
          padding-left: 10px;
        }
      }
      .lower-message {
        margin-top: 10px;
        &__content {
          color: #434a54;
          font-size: 14px;
        }
      }
    }
  }

  .form {
    background-color: #DDDDDD;
    box-sizing: border-box;
    height: 90px;
    padding: 20px 40px 20px 40px;
    &__message {
      border: none;
      float: left;
      height: 50px;
      width: calc(100% - 135px);
      padding-left: 10px;
    }
    &__mask {
      float: left;
      height: 50px;
      width: 0%;

      &__image {
        position: relative;
        right: 40px;
        font-size: 20px;
        line-height: 50px;
        cursor: pointer;
      }
      .hidden {
        display: none;
      }
    }
    &__submit {
      background-color: #38aef0;
      border: none;
      color: white;
      float: right;
      font-size: 16px;
      height: 50px;
      padding: 0 30px;
      cursor: pointer;
    }
  }
}